<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.imu.bs.mapper.OrderMapper">
	<select id="queryOrders" resultType="Order">
		select o_id oid,
			o_isbn oisbn,
			o_addr oaddr,
			o_date odate,
			o_state ostate,
			o_mark omark,
			o.u_name uname,
			u_phone uphone
		from orders o,users u
		where
			o.u_name=u.u_name
	</select>
	<update id="modifyOrder" parameterType="Order">
		update orders
		<set>
			o_state="1"
		</set>
		<where>
			u_name=#{uname}
		</where>
	</update>
	<select id="queryOrderDetail" resultType="OrderBookVO" parameterType="Order">
		select b_image bimage,
			b_name bname,
			b_author bauthor,
			b_publisher bpublisher,
			bt_name btname,
			b_content bcontent,
			od_number odnumber,
			b_price bprice
		from books,booktypes,orderdetails
		where ${oid}=orderdetails.o_id and
			orderdetails.b_id=books.b_id and
			books.bt_id=booktypes.bt_id
	</select>
</mapper>