<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<!-- 为类型定义别名 -->
		<!--<typeAlias type="com.imu.bs.bean.User" alias="User"/>-->
		<!-- 包名扫描 -->
		<package name="com.bs.bean" />
		
	</typeAliases>
	<mappers>
		<mapper resource="com/bs/mapper/UserMapper.xml" />
		<mapper resource="com/bs/mapper/BookMapper.xml" />
		<mapper resource="com/bs/mapper/OrderDetailMapper.xml"/>
		<mapper resource="com/bs/mapper/CartMapper.xml"/>
		<mapper resource="com/bs/mapper/ShoppingCartMapper.xml"/>
		<mapper resource="com/bs/mapper/OrderMapper.xml"/>
		<mapper resource="com/bs/mapper/BookTypeMapper.xml"/>
	</mappers>
</configuration>

