<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"

	xsi:schemaLocation=" 
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<!-- 导入连接数据的资源文件-->
	<context:property-placeholder
		location="classpath:com/bs/config/jdbc.properties" />
	<!-- 配置数据源 dbcp=database connection pool数据库连接池 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="${className}"></property>
		<property name="url" value="${url}"></property>
		<property name="username" value="${user}"></property>
		<property name="password" value="${password}"></property>
	</bean>
	<!-- 配置SqlSessionFactoryBean,注入数据源和mybatis配置文件 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="configLocation"
			value="classpath:com/bs/config/mybatis-config.xml"></property>
		<!--
			如果mybatis配置文件未扫描类的包，可以在此处扫描，
			如果mybatis未指定mapper接口的映射实现文件，则在此处配置，
			为了增加程序的可读性通常在mybatis配置前两项
		-->
	</bean>
	
	<!-- 通过 MapperScannerConfigurer自动完成基础包的扫描和Mapper接口的实现
	自动关联sqlSessionFactory-->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.bs.mapper"></property>
	</bean>
	
	<!-- 扫描service -->
	<context:component-scan base-package="com.bs.service.impl"></context:component-scan>
	
</beans>