<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <!-- 为类型定义别名 -->
        <!--<typeAlias type="com.imu.lsy.bean.User" alias="User"/>-->
        <!-- 包名扫描 -->
        <package name="com.simple.bookshop.bean"/>

    </typeAliases>
    <mappers>
        <mapper resource="mapper/UserMapper.xml"/>
        <mapper resource="/mapper/BookMapper.xml"/>
        <mapper resource="/mapper/OrderDetailMapper.xml"/>
        <mapper resource="/mapper/CartMapper.xml"/>
        <mapper resource="/mapper/ShoppingCartMapper.xml"/>
        <mapper resource="/mapper/OrderMapper.xml"/>
        <mapper resource="/mapper/BookTypeMapper.xml"/>
    </mappers>
</configuration>

