<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.imu.bs.mapper.ShoppingCartMapper">
	<select id="queryShoppingCarts" resultType="ShoppingCart" parameterType="User">
		select
			b_pic bpic,
			c_number cnumber,
			b_name bname,
			b_price bprice
		from t_user,t_book b,t_cart c
		where
			c.b_isbn=b.b_isbn and
			c.u_name=#{uname}
	</select>
	<delete id="removeShoppingCart" parameterType="ShoppingCart">
		delete from t_cart
		where c_id=#{cid}
	</delete>
</mapper>