<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bs.mapper.BookTypeMapper">
	<select id="quaryBookType" resultType="BookTypes">
		select bt_id btid,bt_name btname 
		from booktypes
	</select>
	
</mapper>