<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.simple.bookshop.mapper.OrderDetailMapper">
    <insert id="addOrderDetail" parameterType="OrderDetail">
        insert into orderdetails(od_number,o_isbn,b_id)
        values(#{odmunber},#{oisbn},#{bid})
    </insert>
</mapper>